@mixin infoBox {
	display: flex;
	width: 30vh;
	border-radius: .5vh;
	margin: 1vh 0 4vh 0;
	justify-content: center;
}

body {
	font-family: 'Roboto';
}

.cont {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50vh;
	height: 55vh;
	border: 1px solid black;
	border-radius: 5px;
	margin: 23vh auto 0 auto;

	.input-box {
		display: flex;
		flex-direction: column;
		align-items: center;

		label {
			display: flex;
			margin-top: 5px;
			font-size: 17px;
			font-weight: 500;
		}

		input {
			height: 20px;
			width: 220px;
			margin-top: 5px;
			border-radius: 10px;
			cursor: pointer;
		}

		input:focus {
			border-radius: 10px;
			border: 1.7pt solid black !important;
			outline: none;
		}

		.submit {
			width: 130px;
			height: 30px;
			margin-top: 5px;
			border-radius: 10px;
			font-weight: 600;

			.submitBtn {
				margin-top: 3vh !important;
			}
		}

		.inputs {
			width: 220px;
			margin-bottom: 25px;
		}

		.changePass {
			cursor: pointer;
		}

		.changePass:hover {
			color: rgb(69, 69, 202)
		}
	}

	h2 {
		text-decoration: underline;
		margin-bottom: 0;
	}

	.title {
		margin-bottom: 1vh !important;
	}

	.errorBox {
		@include infoBox();
		background-color: rgb(255, 210, 210);

		.errorMsg {
			margin: 1vh 0 1vh 0;
			color: rgb(255, 59, 59);
		}
	}

	.msgBox {
		@include infoBox();
		width: 35vh;
		background-color: rgb(176, 255, 187);
		
		.msg {
			margin: 1vh 0 1vh 0;
			color: rgb(45, 175, 63);
		}
	}
}
