.cont {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50vh;
	height: 50vh;
	border: 1px solid black;
	border-radius: 5px;
	margin: 5vh auto 0 auto;

	.input-box {
		display: flex;
		flex-direction: column;
		align-items: center;

		label {
			display: flex;
			margin-top: 5px;
		}

		input {
			height: 20px;
			width: 220px;
			margin-top: 5px;
			margin-bottom: 25px;
			border-radius: 10px;
		}

		.submit {
			width: 100px;
			margin-top: 5px;
			margin-bottom: 25px;
			border-radius: 10px;
		}

		.inputs {
			width: 220px;
		}
	}

	h6 {
		display: flex;
		align-items: center;
		border: 1px solid black;
		border-radius: 3px;
		width: 80px;
		height: 20px;
		bottom: -100px;
	}

	h2 {
		text-decoration: underline;
		margin-bottom: 40px;
	}
}
