body {
	font-family: 'Roboto';
}

@mixin incorrectMsg {
	margin-top: 0;
	margin-bottom: 25px;
	color: rgb(206, 24, 24);
	font-weight: 500;
	font-size: 13px;
}

.cont {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50vh;
	height: 55vh;
	border: 1px solid black;
	border-radius: 5px;
	margin: 23vh auto 0 auto;

	.incorrectMsg {
		@include incorrectMsg();
	}

	.input-box {
		display: flex;
		flex-direction: column;
		align-items: center;

		label {
			display: flex;
			margin-top: 5px;
			font-size: 17px;
			font-weight: 500;
		}

		input {
			height: 20px;
			width: 220px;
			margin-top: 5px;
			border-radius: 10px;
		}

		input:focus {
			border-radius: 10px;
			border: 1.7pt solid black !important;
			outline: none;
		}

		.submit {
			width: 130px;
			height: 30px;
			margin-top: 5px;
			border-radius: 10px;
			font-weight: 600;
		}

		.inputs {
			width: 220px;
		}

		.incorrectMsg {
			@include incorrectMsg();
		}
	}

	h2 {
		text-decoration: underline;
		margin-bottom: 0;

	}

	.customMargin {
		margin-bottom: 40px !important;
	}

}
