$colors: (
		nav-backgrnd: rgb(250, 211, 143),
		dropdown: rgb(252, 213, 152),
		login-backgrnd: rgb(250, 196, 138),
		border: 1px solid black
);

a {
	text-decoration: none;
	color: black;
}

.navbar-first {
	display: flex;
	background-color: whitesmoke;
	height: 5vh;
	border-bottom: map-get($colors, border);

	.navbar-logo {
		align-self: center;
		margin-left: 50px;

		.logo-pic {
			width: 35px;
			height: 35px;
			border-radius: 5px;
		}
	}

	.navbar-pages {
		display: flex;
		justify-content: flex-end;
		align-self: center;
		width: 90%;
		height: 100%;

		a {
			margin-right: 60px;
			display: flex;
			align-self: center;
			font-size: 18px;
		}

		.profile {
			position: relative;
			display: inline-block;
			align-self: center;

			.title {
				display: flex;
				padding-right: 60px;
				font-size: 18px;
				width: 60px;
				height: 4vh;
				justify-content: center;
				align-items: center;
				text-align: center;
			}

			.cont {
				display: none;
				position: absolute;
				text-align: center;
				justify-content: center;
				align-items: center;
				width: 18vh;
				height: 5.1vh;
				background-color: whitesmoke;
				border-radius: 4px;
				top: 0;
				left: 45px;
				margin-top: 4.5vh;

				.auth-creare {
					height: 50%;
					border-radius: 5px;
				}
			}

			.title:hover {
				cursor: pointer;
			}

			.auth-creare:hover {
				background-color: rgba(128, 128, 128, 0.1);
			}
		}

		.profile:hover {
			background-color: rgb(223, 222, 222);
			border-radius: 30px;

			.cont {
				display: block;
			}
		}

		.cos-cumparaturi {
			width: 110px;
			height: 80%;
			align-items: center;
			justify-content: center;
		}

		.cos-cumparaturi:hover {
			background-color: rgb(223, 222, 222);
			border-radius: 30px;
		}
	}
}

