body { font-family: 'Roboto'; }

.navbar-second 
{
	display: flex;
	height: 4vh;
	background-color: rgba(250, 211, 143, 0.5);
	border-bottom: .1vh solid black;
	padding-left: 5vh;

	.produse 
	{
		position: relative;
		display: inline-block;

		.title 
		{
			display: flex;
			font-size: 2.2vh;
			width: 12vh;
			height: 3vh;
			justify-content: center;
			align-items: center;
			background-color: #fddfac;
			margin-top: .5vh;
			border-radius: .5vh;

			.headLine-ico { font-size: 2.6vh; }
		}

		.produse-tipuri 
		{
			display: none;
			height: 44vh;
			background-color: #fddfac;

			.sidebar 
			{
				display: flex;
				flex-direction: column;
				width: 30vh;

				.elem 
				{
					display: flex;
					padding-top: 1vh;
					height: 3vh;
					background-color:  #fddfac;
	
					a 
					{
						height: 4vh;
						padding-left: 2vh;
						font-size: 1.8vh;
						width: 100%;
					}
				}

				.elem:hover 
				{ 
					background-color: #fdd794;
				}

				.elem:hover
				{ 
					.produse-continut 
					{
						display: flex;
						width: 50vh;
						margin: 0 .5vh 0 .5vh;
			
						.elemSubtype 
						{
							display: flex;
							height: 3vh;
							margin: 1vh;
			
							a 
							{
								height: 3vh;
								width: 100%;
								padding: .4vh 1vh 0 1vh;
								font-size: 1.7vh;
							}
			
							a:hover 
							{
								cursor: pointer;
								background-color: rgba(250, 211, 143, 0.5);
							}
						}
					}
				}
			}
			// @media screen and (min-width: 200px)
			// {
			// 	.produse-tipuri { width: 40vh; }
			// }
	
			// @media screen and (min-width: 400px)
			// {
			// 	.produse-tipuri { width: 50vh; }
			// }
	
			// @media screen and (min-width: 600px)
			// {
			// 	.produse-tipuri { width: 70vh; }
			// }
		}

		
	}

	@media screen and (max-width: 2000px) { .produse { margin-left: 1vh; } }
}
