body 
{
	font-family: 'Roboto';
}

.navbar-second 
{
	display: flex;
	height: 4vh;
	background-color: rgba(250, 211, 143, 0.5);
	border-bottom: .1vh solid black;

	// .contact {
	// 	display: flex;
	// 	justify-content: flex-end;
	// 	align-self: center;
	// 	width: 83%;

	// 	a {
	// 		display: flex;
	// 		font-size: 18px;
	// 	}

	// }

	.produse 
	{
		position: relative;
		display: inline-block;
		margin-left: 3vh;
		margin-right: 3vh;

		::-webkit-scrollbar 
		{
			width: 1vh;
		}

		::-webkit-scrollbar-thumb 
		{
			background: rgba(250, 211, 143, 0.5);
			box-shadow: inset 0 0 .4vh #fdba3f;
		}

		::-webkit-scrollbar-track 
		{
			background: #FAD38F;
			box-shadow: inset 0 0 .7vh #f5efcc;
		}

		.title 
		{
			display: flex;
			margin-top: .6vh;
			font-size: 2.2vh;
			width: 12vh;
			height: 3vh;
			justify-content: center;
			align-items: center;

			.headLine-ico 
			{
				font-size: 2.6vh;
			}
		}

		.produse-tipuri 
		{
			display: none;
			position: absolute;
			width: 30vh;
			height: 50vh;
			background-color: #fde9c7;
			border: .1vh solid black;
			top: 4vh;
			border-radius: .5vh;
		}

		.title:hover 
		{
			background-color: #ffdda3;
			cursor: pointer;
			border-radius: 3vh;
		}
		
		@media screen and (min-width: 200px)
		{
			.produse-tipuri { width: 40vh; }
		}

		@media screen and (min-width: 400px)
		{
			.produse-tipuri { width: 50vh; }
		}

		@media screen and (min-width: 600px)
		{
			.produse-tipuri { width: 70vh; }
		}
	}

	@media screen and (max-width: 2000px)
	{
		.produse { margin-left: 1vh; }
	}


	.produse:hover 
	{
		.produse-tipuri 
		{
			display: flex;

			.trDropdown 
			{
				position: absolute;
				top: -1vh;
				left: 5vh;
				width: 0;
				height: 0;
				border-left: 1vh solid #00000000;
				border-right: 1vh solid transparent;
				border-bottom: 1vh solid #000000;
			}

			.produse-continut 
			{
				width: 58.5vh;
				height: 45vh;
				margin: .5vh .5vh 0 .5vh;

				.elemSubtype 
				{
					display: flex;
					height: 3vh;
					margin: 1vh;

					a 
					{
						height: 3vh;
						width: 100%;
						padding: .4vh 1vh 0 1vh;
						font-size: 1.7vh;
					}

					a:hover 
					{
						cursor: pointer;
						background-color: rgba(250, 211, 143, 0.5);
					}
				}
			}

			.sidebar 
			{
				display: flex;
				flex-direction: column;
				width: 45vh;
				height: 99.3%;
				overflow-x: hidden;
				padding-top: .3vh;
				border-right: .1vh solid rgba(253, 186, 63, 0.3);
				//background-color: #ffe4c4;

				.elem 
				{
					display: flex;
					padding-top: 1vh;
					height: 3vh;
					margin-bottom: .3vh;
					background-color: rgba(250, 211, 143, 0.2);

					a 
					{
						height: 4vh;
						padding-left: 2vh;
						font-size: 1.8vh;
						width: 100%;
					}
				}

				.elem:hover 
				{
					background-color: rgba(250, 211, 143, 0.5);
				}
			}
		}
	}
}
