body { font-family: 'Roboto'; }

$colors: (
		nav-backgrnd: rgb(250, 211, 143),
		dropdown: rgb(252, 213, 152),
		login-backgrnd: rgb(250, 196, 138),
		border: .2vh solid black
);

a 
{
	text-decoration: none;
	color: black;
}

.navbar-first 
{
	display: flex;
	background-color: rgb(245, 245, 245);
	height: 7vh;
	border-bottom: map-get($colors, border);

	.navbar-logo 
	{
		align-self: center;
		margin-left: 8vh;

		.logo-pic 
		{
			width: 5vh;
			height: 5vh;
			border-radius: .6vh;
		}

		.logo-pic:hover
		{
			transform: scale(1.4);
			transition: transform .5s;
		}
	}

	.navbar-pages 
	{
		display: flex;
		justify-content: flex-end;
		align-self: center;
		width: 90%;
		height: 100%;

		a 
		{
			// margin-right: 60px;
			display: flex;
			align-self: center;
			font-size: 2vh;

		}

		.profile 
		{
			position: relative;
			display: flex;
			align-self: center;
			justify-content: center;	
			width: 7vh;
			height: 80%;
			margin-right: 3vh;
			cursor: pointer;

			.dropdownMenu 
			{
				display: none;
				position: absolute;
				width: 18vh;
				height: 12vh;
				background-color:  #b4b4b4;
				// border: 0.5pt solid #9c9c9c;
				border-radius: 0.7vh;
				top: 1vh;
				left: -6.2vh;
				margin-top: 4.5vh;
				padding-bottom: 1vh;
				justify-content: center;

				button 
				{
					background-color: #b4b4b4;
					border: .1vh solid whitesmoke;
					font-family: 'Roboto';
				}

				.trDropdown 
				{
					position: absolute;
					top: -0.8vh;
					left: 50%;
					width: 0;
					height: 0;
					border-left: 1vh solid #00000000;
					border-right: 1vh solid transparent;
					border-bottom: 1vh solid #b4b4b4;
				}
	
				.auth-creare 
				{
					align-self: center;
					height: 3vh;
					width: 90%;
					border: 0.1vh solid whitesmoke;
					border-radius: .6vh;
					margin-top: 1vh;

					.text { justify-content: center; }
				}

				.auth-creare:hover { background-color:  whitesmoke; }
				
				.btn { font-weight: normal; }
			}

			.title 
			{
				display: flex;
				font-size: 2vh;
				justify-content: center;
				align-items: center;

				.profile-Ico { font-size: 3.5vh; }
				.expandMore { font-size: 2.5vh; }
			}
		}

		.profile:hover
		{
			background-color: rgb(223, 222, 222);
			border-radius: 6vh;

			.dropdownMenu
			{ 
				display: flex; 
				flex-direction: column;
			}
		}

		.cos-cumparaturi 
		{
			width: 6vh;
			height: 80%;
			align-items: center;
			justify-content: center;

			.shopping-cart { font-size: 3vh; }
		}

		.cos-cumparaturi:hover 
		{
			background-color: rgb(223, 222, 222);
			border-radius: 3vh;
		}
	}

	
}

